{% extends 'base.html'%}

{% block content %}

<div class="card mx-auto" style="width: 20rem; margin-top: 20%;">
    <div class="card-header text-center">
        <h1>로그인</h1>
    </div>
    <div class="card-body">
        <form action="" method="POST" >
            {% csrf_token %}
            <p class="mb-3">
                <label for="id_username" class="form-label">Username:</label>
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class="form-control">
            </p>
            <p class="mb-3">
                <label for="id_password" class="form-label" >Password:</label>
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="form-control">
            </p>
            <button type="submit" class="btn btn-primary d-grid mx-auto">로그인</button>
        </form>
    </div>
  </div>

{% endblock %}